[submodule "submodule/ObjectListview"]
	path = submodule/ObjectListview
	url = https://github.com/savushkin-r-d/ObjectListView.git
[submodule "submodule/TreeViewAdv"]
	path = submodule/TreeViewAdv
	url = https://github.com/savushkin-r-d/TreeViewAdv.git
